body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #333;
}

input[type="button"],
input[type="buttonADD"] {
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="buttonADD"] {
  padding: 10px;
  max-width: 100px;
  background-color: #28a745;
}

input[type="text"],
input[type="file"],
select,
input[type="number"] {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="button"]:hover,
input[type="buttonADD"]:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #dee2e6;
  text-align: center;
}

thead {
  background-color: #007bff;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

tbody tr:hover {
  background-color: #e2e6ea;
}

table td .edit-btn {
  padding: 8px 12px;
  background-color: #ffc107;
  color: #212529;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table td .edit-btn:hover {
  background-color: #ffca2c;
}

/* Thêm CSS cho nút Delete */
table td .delete-btn {
  padding: 8px 12px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
